*.gem
*.rbc
.rvmrc
.bundle
.config
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

abf-worker-tmp/*
log/*
iso/*

# YARD artifacts
.yardoc
_yardoc
doc/

# rcov generated
coverage
coverage.data

.vagrant
dump.rdb
resque.yml
