common: &common
  airbrake_api_key: 'airbrake_api_key'
  abf_url: 'https://abf.rosalinux.ru'
  file_store:
    url: 'http://file-store.rosalinux.ru/api/v1/file_stores'
    create_url: 'http://file-store.rosalinux.ru/api/v1/upload'
    token: 'token'
  scripts:
    mdv:
      path: 'https://abf.rosalinux.ru/abf/mdv-scripts/archive/'
      treeish: mdv-scripts-master
    rhel:
      path: 'https://abf.rosalinux.ru/abf/rhel-scripts/archive/'
      treeish: rhel-scripts-master
    arm:
      path: 'https://abf.rosalinux.ru/abf/arm-scripts/archive/'
      treeish: arm-scripts-master


development:
  <<: *common
  tmp_path: 'tmp_path'
  abf_api:
    url: 'http://0.0.0.0:3000/api/v1'
    token: 'token'
  vm:
    x86_64: 1024
    i586: 512

production:
  <<: *common
  tmp_path: 'tmp_path'
  abf_api:
    url: 'https://abf.rosalinux.ru/api/v1'
    token: 'token'
  vm:
    x86_64: 8192
    i586: 4096

test:
  <<: *common
  tmp_path: 'tmp_path'
  abf_api:
    url: 'http://0.0.0.0:3000/api/v1'
    token: 'token'
  vm:
    x86_64: 512
    i586: 512