# <platform_type>:
#   default:
#     noarch: <sha1 of default box on File-Store>
#     <arch_name>: <sha1 of box on File-Store>
#
#   platforms:
#     <platform_name>: 
#       noarch: <sha1 of default box on File-Store>
#       <arch_name>: <sha1 of box on File-Store>

mdv:
  default:
    noarch: 60fe76919127188489b997a5c4eb3129dd373081

  # platforms:
  #   cooker: 
  #     noarch: 696ddad0a43c364e406388f7538af130d602d7fa
  #   openmandriva2013.0: 
  #     noarch: 696ddad0a43c364e406388f7538af130d602d7fa

rhel:
  default:
    noarch: f5ecd579a3e310495153f8c8bf6aa2ab66d44457

arm:
  default:
    noarch: 8449a0b390b9262eb46e7c1b791319d4268311e9




