# -*- encoding : utf-8 -*-
# require "whenever/capistrano"

set :branch, "master"

# Update 'vm.yml' config file at deploy
set :update_vm_yml, true

set :bs0, "0.0.0.0"

role :publish,  bs0, :primary => true
role :iso,      bs0
role :rpm,      bs0